#bg1 {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

#bg-video1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

#button1 {
  position: absolute !important;
  top: 50%;
  opacity: 0.7;
}

#button1:focus, #button1:active {
  outline: none !important;
  box-shadow: none !important;
}
/*** PAGE 2 ***/
#section2 {
  background-color: pink;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
  height: 100%;
}
.sketchfab-embed-wrapper {
  position: fixed;
  width: 100%;

}

/** PAGE 3 **/
 #bg3 {
  background-color: navy;
  overflow: hidden;
  z-index: -100;
  width: 100%;
  height: 100%;
  position: absolute;
}

#bg-video3 {
  position: absolute;
  /* top: 10vh; */
  left: 0;
  width:inherit;
}  

h2, .description {
  color: white;
}